.dashboard-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #415a77;
    height: 100px;
    padding:20px;
}

.dashboard-head h1, h4 {
    margin: 5px;
    bottom: 0px;
    vertical-align: bottom;
    color: white;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.dashboard-nav a {
    text-decoration: none;
    color:#abc;
    background-color: transparent;
    padding: 7px;
    transition: all 0.1s;
}

.dashboard-box {
    background-color: #223049;
    width: 100%;
    min-height: 80vh;
}

.dashboard-box h1, h2 {
    color: white;
    margin: 33px;
}

.general-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #1b263b;
    min-height: 200px;
    min-width: 300px;
    margin: 20px;
    border: none;
}

.card-header {
    background-color: #415a77;
    color: white;
}

.card-header i {
    margin-right: 15px;
}

table {
    border-spacing: 3px;
    border-collapse: collapse;
}

th, td {
    color: white;
    border-bottom: 1px solid black;
}

td {
    padding: 5px;
}

.problem-post-row {
    background-color: #223049;
    margin-bottom: 10px;
}

.problem-post-row:hover {
    cursor: pointer;
    background-color: #415a77;
}

.user-settings-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    color: white;
}

.user-settings-box input {
    width: 400px;
}

.user-settings-box button {
    width: 100px;
}

.user-settings-box input, button {
    background-color: transparent;
    border-radius: 3px;
    border: #415a77 1px solid;
    color: white;
}

.user-settings-box input:focus {
    border-radius: 3px;
    border: #415a77 1px solid;
    outline: none;
}

.view-user-card {
    margin-left: 25px;
    padding: 25px;
    background-color: #415a77;
    width: 1000px;
    color: white;
}