/* Colors from templates
#0d1b2a
#1b263b
#415a77
#778da9
#e0e1dd
*/

body {
    background-color: #1b263b;
} 

/* BASE HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #24334a;
    margin: 0px;
}

nav a {
    color:white;
    text-decoration: none;
    font-size: 30px;
    margin: 25px;
    transition: color .2s;
}

nav a:hover {
    color: #bfbfbf;
    transition: color .2s;
}

hr {
  color: #415a77;
  background-color: #415a77;
  height: 2px;
}

.right-span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-span input {
    margin: 0px 25px 0px 25px;
}

.account-button {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0px 25px 0px 25px;
}

.account-button a {
    margin: 0px;
    text-align: center;
    font-size: 18px;
}

.hidden {
    display: none !important;
}

.like-button {
    color: #198754;
    border: 2px solid #198754;
    background-color: transparent;
    transition: all 0.3s;
}

.like-button:hover {
    color: #09472a;
    background-color: #198754;
    transition: all 0.3s;
}

.like-button-pressed {
    border: none;
    color: #09472a;
    background-color: #198754;
}

.favorite-button {
    color: #dc3545;
    border: 2px solid #dc3545;
    background-color: transparent;
    transition: all 0.3s;
}

.favorite-button:hover {
    color: #701d25;
    background-color: #dc3545;
    transition: all 0.3s;
}

.favorite-button-pressed {
    border: none;
    color: #701d25;
    background-color: #dc3545;
}

.star-button {
    color: #ffc412;
    border: 2px solid #ffc412;
    background-color: transparent;
    transition: all 0.3s;
}

.star-button:hover {
    color: #8a681e;
    background-color: #ffc412;
    transition: all 0.3s;
}

.star-button-pressed {
    border: none;
    color: #8a681e;
    background-color: #ffc412;
}