/* Colors from templates
#0d1b2a
#1b263b
#415a77
#778da9
#e0e1dd
*/

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  font-size: 24px;
  width: 300px;
}

.nav-span {
  margin-top: 20px;
  align-self: flex-start;
  font-family: 'Roboto' monospace;
}

.nav-span i {
  cursor: pointer;
}

.search-span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-span input {
  background-color: transparent;
  height: 40px;
  width: 75%;
  color: white;
  border: none;
  outline: none;
  border-bottom: #415a77 1px solid;
  margin-left: 5px;
}

#search-button {
  cursor: pointer;
}

.left-nav i, a {
  text-decoration: none;
  color: aliceblue;
}

.right-nav {
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  width: 444px;
}

.user-card {
  background-color: #415a77;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-card img {
  width: 75px;
  height: 75px; 
  margin: 15px;
}

.image-board {
  display: flex;
  justify-content: center;
}

.img-container {
  max-width: 85vw;
  width: 777px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  width: 100%;
  border-radius: 3px;
}

.post-container {
  border-bottom: 2px #415a77 solid;
  padding: 10px 0px 20px 0px;
  margin-bottom: 5px;
}

.post-title {
  border-radius: 3px 3px 0px 0px;
  height: 75px;
  display: flex;
  align-items: center;
}

.post-author-name {
  color: white;
  margin: 0px;
  font-size: 18px;
}

.post-user-icon {
  height: 65%;
  margin: 20px;
}

.post-details {
  color: antiquewhite;
  border-radius: 0px 0px 3px 3px;
}

.post-caption {
  padding: 6px 0px 0px 6px;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
}

.post-tag {
  width: fit-content;
  margin: 5px;
}

.post-caption {
  font-size: 24px;
}

.post-tags {
  font-size: 12px
}