/* Colors from templates
#0d1b2a
#1b263b
#415a77
#778da9
#e0e1dd
*/

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.left-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  font-size: 24px;
  width: 300px;
}

.left-nav i, a {
  margin: 10px 20px 25px 0px;
  color: honeydew;
  text-decoration: none;
}

.right-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  width: 300px;
}

.image-board {
  display: flex;
  justify-content: center;
}

.img-container {
  max-width: 90vw;
  width: 777px;
  background-color: #415a77;
}

.img-container img {
  width: 100%;
  border-radius: 3px;
}

.post-title {
  background-color: #415a77 !important;
  border-radius: 3px 3px 0px 0px;
  height: 75px;
  display: flex;
  align-items: center;
}

.post-author-name {
  color: white;
  margin: 0px;
}

.post-user-icon {
  height: 65%;
  margin: 20px;
}

.post-details {
  background-color: #415a77;
  border-radius: 0px 0px 3px 3px;
}

.post-caption {
  padding: 15px 15px 0px 15px;
}

.post-tags {
  display: flex;
  margin: 0px 15px 15px 15px;
}

.post-tag {
  width: fit-content;
  margin: 5px;
}