/* Colors from templates
#0d1b2a
#1b263b
#415a77
#778da9
#e0e1dd
*/

.image-board {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.post-container {
  margin: 50px;
}

.img-container {
  max-width: 90vw;
  width: 777px;
}

.img-container img {
  width: 100%;
}

.post-title {
  background-color: #415a77 !important;
  border-radius: 3px 3px 0px 0px;
  height: 75px;
  display: flex;
  align-items: center;
}

.post-author-name {
  color: white;
  margin: 0px;
}