main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10vw;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    padding: 25px;
    border-radius: 4px;
}

.login-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

span {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

span > * {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
}

input,button {
    background-color: transparent;
    border: solid 1px black;
    border-radius: 4px;
    width: 100%;
    max-width: 350px !important;
    padding: 0px;
    height: 30px;
    color: black;
    margin-bottom: 20px;
}

p {
    margin-right: 6px;
}

.button-text {
    cursor: pointer;
    color: rgb(96, 20, 146);
    text-decoration: underline;
}

.button-text:hover {
    color: rgb(26, 7, 39);
}
