main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    margin: 25px;
    padding: 25px 45px 25px 45px;
    background-color: rgba(255,255,255,0.11);
    border-radius: 10px;
}

div {
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
}

input {
    background-color: transparent;
    border: solid 1px white;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    color: white;
}