main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-section {
    display: flex;
    justify-content: center;
    max-width: 80vw;
}

.post-container {
    max-width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    padding: 50px 50px 25px 50px;
}

#post-settings, #report-post {
    text-align: right;
    font-size: 25px;
    opacity: 50%;
}

#post-settings:hover, #report-post:hover {
    opacity: 100%;
    cursor: pointer;
}

.post-details h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-details h3 {
    color: white;
}

.tag-list-box {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.added-tag {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    color: white;
    background-color: #415a77;
}

.post-image {
    max-width: 90%;
    max-height: 90%;
    margin: 50px 25px 25px 50px;
    object-fit: contain;
}

.post-buttons {
    display: flex;
    justify-content: space-around;
}

.post-buttons > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 35px;
    border-radius: 10px;
}

.post-buttons i:hover {
    cursor: pointer;
}

.secondary-section {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    width: 100%;
    margin-top: 50px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 150px 0px 50px;
}

.new-comment-container {
    display: flex;
    flex-direction: row;
}

.user-info {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.user-info img {
    height: 50px; width: 50px;
}

.new-comment-box {
    display: flex;
    flex-direction: column;
    margin: 25px;
    max-width: 100%;
    width: 100%;
}

.new-comment-box > *{
    margin: 10px;
}

.related-posts {
    display: flex;
    flex-direction: column;
    background-color: #415a77;
    width: 25vw;
}

#new-comment-input {
    outline: 2px solid #415a77;
    border: none;
    overflow: hidden;
    resize: none;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: transparent;
}

#new-comment-post-button {
    width: 150px;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    height: 35px;
    color: white;
    background-color: #415a77;
}

.comment-template {
    display: flex;
    flex-direction: row;
}

.comment-area {
    display: flex;
    flex-direction: column;
    margin: 25px;
    max-width: 100%;
    width: 100%;
}

.comment-area {
    margin: 25px
}

.comment-text {
    border: none;
    overflow: hidden;
    resize: none;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    color: white;
    background-color: #203349;
}

.comment-text:focus {
    border: none;
    outline: none;
}

.comment-text:hover {
    cursor: default;
}

#no-user-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#no-user-box p {
    color: white;
    margin: 0px 0px 0px 5px;
}


.report-menu-screen {
    background-color: rgb(27,38,59,0.75);
    display: flex;
    justify-content: center;
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
}

.report-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 75px;
    border-radius: 5px;
}

.dialog-header {
    background-color: #415a77;
    text-align: center;
    width: 100%;
    color: white;
    position: absolute;
    padding: 7px;
    margin: 7px;
    border-radius: 7px 7px 0px 0px;
}

.report-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
    background-color: #203349;
    width: 100%;
}

.report-form span {
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialog-footer {
    height: 20px;
    background-color: #415a77;
    width: 100%;
    border-radius: 0px 0px 7px 7px;
}

.report-buttons {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.report-buttons button {
    border-radius: 50px;
    margin: 10px 0px -10px 20px;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}

.report-details {
    background-color: transparent;
    border-radius: 10px;
    border:#415a77 2px solid;
    margin: 10px;
    color: white;
}

.report-details:focus {
    border:#415a77 2px solid;
    outline: none;
}

#report-menu-close {
    color: #b4b4b4;
    border: 2px solid #b4b4b4;
    background-color: transparent;
    transition: all 0.3s;
}

#report-menu-close:hover {
    color: #fff;
    background-color: #9b9b9b;
    transition: all 0.3s;
}

#confirm-report {
    color: #dc3545;
    border: 2px solid #dc3545;
    background-color: transparent;
    transition: all 0.3s;
}

#confirm-report:hover {
    color: #701d25;
    background-color: #dc3545;
    transition: all 0.3s;
}

#tag-search-input {
    display: flex;
    width: 400px;
    height: 50px;
    margin: 10px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    caret-color: transparent;
    font-size: 24px;
}

.delete-post-button {
    color: #dc3545;
    border: 2px solid #dc3545;
    border-radius: 25px;
    background-color: transparent;
    transition: all 0.3s;
    width: 100%;
    min-height: 45px;
    transition: all 0.3s;
}

.delete-post-button:hover {
    color: #701d25;
    background-color: #dc3545;
    transition: all 0.3s;
}


.mod-tools-container {
    max-width: 80vw;
    width: 100%;
    margin-top: 20px;
}

.mod-tools-header p {
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #9b9b9b;
}

.mod-tools {
    color: white;
}

.mod-tools-container {
    position: relative;
}

.mod-tools.hidden {
    display: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #1b263b;
}

thead {
    background-color: #203349;
}


th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #1b263b;
}

tr:nth-child(odd) {
    background-color: #203349;
}

tbody tr:hover {
    background-color: #0d1b2a;
    color: #e0e1dd;
}

th {
    background-color: #283e57;
    text-align: center;
}