.post-section {
    display: flex;
    justify-content: center;
}

.post-container {
    max-width: 1111px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 555px;
    padding: 50px 50px 25px 50px;
}

.post-details h1 {
    color: white
}

.post-details h3 {
    color: white;
}

.tag-list-box {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.added-tag {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    color: white;
    background-color: #415a77;
}

.post-image {
    max-width: 90%;
    max-height: 90%;
    margin: 50px 25px 25px 50px;
    object-fit: contain;
}

.post-buttons {
    display: flex;
    justify-content: space-around;
}

.post-buttons button {
    width: 30%;
    height: 35px;
    border-radius: 10px;
}
