main {
    display: flex;
    flex-direction: row;
    margin: 150px;
}


/* User Card */
.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.user-card > * {
    color:  white;
    text-align: center;
}

.user-card p {
  max-width: 250px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* User Section */
.user-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 18px 2px 15px 5px;
    background-color: #2d3e5f;
}

.content-controller a {
    color:white;
    text-decoration: none;
    margin-right: 5px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #2a3a5a;
}

.content-controller a:hover {
    transition: all 0.3s;
    background-color: #203050;
}

.image-board {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.image-column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.image-container {
    width: 250px;
    height: 250px;
    margin: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%; /* Make the image fill the width of the container */
    height: 100%; /* Make the image fill the height of the container */
    object-fit: contain; /* Preserve aspect ratio and fit the image within the container */
  }

.user-settings {
    background-color: #196340 !important;
}