{% extends 'base.html' %}
{% block title %}Art-Station [ADMIN]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}
{% block body %}
<main>
    <section class="dashboard-head">
        <h4>admin »</h4>
        <h1>{{ endpoint|replace('_', ' ') }}</h1>
        {% if admin_view_user %}<h1> » {{ admin_view_user.username }}</h1>{% endif %}
    </section>
    <section class="dashboard-container">
        <aside class="dashboard-nav">
            <a id="general-button" href='/admin/general'>General</a>
            <a id="user-settings-button" href='/admin/user_settings'>User Settings</a>
        </aside>
        </aside>    
        <article class="dashboard-box">
            {% if endpoint == 'general' %}
                <div class="general-cards-container">
                    <div id="post-reports" class="card reports">
                        <p class="card-header"><i class="fa-solid fa-triangle-exclamation"></i>problem posts</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Post</th>
                                    <th>Post Author</th>
                                    <th>Post date</th>
                                    <th>Times Reported</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post, username, num_reports in problem_posts %}
                                <tr class="problem-post-row" id="post-{{ post.post_id }}">
                                    <td>{{ post.caption }}</td>
                                    <td>{{ username }}</td>
                                    <td>{{ post.created_at.strftime('%m/%d/%Y') }}</td>
                                    <td style="text-align: right;">{{ num_reports }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="comment-reports" class="card reports">
                        <p class="card-header"><i class="fa-solid fa-triangle-exclamation"></i>problem comments</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Comment ID</th>
                                    <th>User ID</th>
                                    <th>Comment Text</th>
                                    <th>Number of Reports</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment, username, num_reports in problem_comments %}
                                <tr>
                                    <td>{{ comment.comment_id }}</td>
                                    <td>{{ comment.user_id }}</td>
                                    <td>{{ comment.comment_text }}</td>
                                    <td>{{ num_reports }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% elif endpoint == 'user_settings' %}
                <div class="user-settings-box">
                    <label>Search User</label>
                    <span class="username-input-span">
                        <input type="text" id="search-user-input">
                        <button id="search-user-button">Search</button>
                    </span>
                </div>
                {% if admin_view_user %}
                    <span class="view-user-container">
                        <div class="view-user-card">
                            <span class="view-user-header">
                                <h3>{{ admin_view_user.username }}</h3>
                            </span>
                        </div>
                    </span>
                {% endif %}
            {% endif %}
        </article>
    </section>
</main>
<script src="/static/javascript/admin.js"></script>
{% endblock %}