<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00827ff9ca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<header>
    <nav>
        <span class="links">
            <a href="/"><i class="fa-sharp fa-solid fa-paint-roller"></i></a>
            <a href="/new_post">Post</a>
        </span>
        <span class="right-span">
            {% if username %}
                <div class="account-button">
                    <a href="/user/{{ session.get('username') }}"><i class="fa-solid fa-user"></i></a>
                    <a href="/user/{{ session.get('username') }}">{{ username }}</a>
                </div>
                <a href="/logout" style="font-size: 18px;">logout</a>
            {% else %}
                <a href="/login" style="font-size: 18px;">login</a>
            {% endif %}
        </span>
    </nav>
    <span class="messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </span>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const messageContainer = document.getElementById("flash-messages");
    
            // Remove messages after the animation is complete
            messageContainer.addEventListener("animationend", function () {
                this.innerHTML = "";
            });
        });</script>
</header>
{% block body %}{% endblock %}
</html>