{% extends 'base.html' %}
{% block title %}Art-Station [EDIT - {{ session.get('username') }}]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/edit_user.css">
{% endblock %}

{% block body %}
<main>
    <section class="user-info-head">
        <article class="user-info-container">
            <div class="user-image-container">
                <img class="user-image" src="/static/images/user_icon.png">
            </div>
            <div class="user-info">
                <h2 style="margin: 10px 10px 15px 0px;">{{ user.username }}</h2>
            </div>
        </article>
    </section>
    <section class="settings-container">
        <aside class="settings-nav">
            <a id="general-button" href='/user/{{ user.username }}/edit_user/general'>General</a>
            <a id="avatar-button" href='/user/{{ user.username }}/edit_user/appearance'>Appearance</a>
            <a id="showcase-button" href='/user/{{ user.username }}/edit_user/showcase'>Showcase</a>
            <a id="commission-button" href='/user/{{ user.username }}/edit_user/commission'>Commission</a>
            <a id="privacy-button" href='/user/{{ user.username }}/edit_user/privacy'>Privacy Settings</a>
        </aside>
        <article class="settings-box">
            {% if endpoint == 'general' %}
            <h1>General Settings</h1>
            <hr>
            <form class="general-settings" method="post">
                {{ settings['general'].csrf_token }}

                {% for field in settings['general'] %}
                    {% if field.type != 'CSRFTokenField' %}
                    <span>
                        {{ field.label }} {{ field }}
                    </span>
                    {% endif %}
                {% endfor %}

                <input type="submit" value="Save Changes" id="save-changes-button">
            </form>
            {% elif endpoint == 'appearance' %}
                <h1>Appearance</h1>
                <hr>
            {% elif endpoint == 'showcase' %}
                <h1>Update Showcase</h1>
                <hr>
            {% elif endpoint == 'commission' %}
                <h1>Commission Form</h1>
                <hr>
            {% elif endpoint == 'privacy' %}
                <h1>Privacy settings</h1>
                <hr>
            {% endif %}
        </article>  
    </section>
</main>
<script>
    selectedButton = document.getElementById('{{ endpoint }}' + '-button')
    selectedButton.classList.add('edit-user-selected-nav-button')
</script>
{% endblock %}