{% extends 'base.html' %}
{% block title %}Art-Station [INDEX]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block body %}
<main>
    <section class="main-section">
        <aside class="left-nav">
            <span class="search-span nav-span">
                <i id="search-button" class="fa-solid fa-magnifying-glass"></i>
                <input class="hidden-thousand" id="search-bar" type="text" placeholder="Search">
            </span>
            <span class="nav-span">
                <i id="home-button" class="fa-solid fa-house"></i>
                <a class="hidden-thousand" href="/">Home</a>
            </span>
            <span class="nav-span">
                <i id="post-button" class="fa-solid fa-camera"></i>
                <a class="hidden-thousand" href="/new_post">Post</a>
            </span>
            <span class="nav-span">
                <i id="messages-button" class="fa-solid fa-message"></i>
                <a class="hidden-thousand" href="/">Messages</a>
            </span>
            {% if username %}
            <span class="nav-span">
                <i id="profile-button" class="fa-solid fa-user"></i>
                <a class="hidden-thousand" href="/user/{{ username }}">Profile</a>
            </span>
            <span class="nav-span">
                <i id="settings-button" class="fa-solid fa-gear"></i>
                <a class="hidden-thousand" href="/user/{{ username }}/edit_user/general">Settings</a>
            </span>
            {% else %}
            <span class="nav-span">
                <i id="login-button" class="fa-solid fa-user"></i>
                <a class="hidden-thousand" href="/login">Login</a>
            </span>
            {% endif %}
        </aside>
        <article class="posts">
            <div class="image-board">
                <div class="image-column">
                    {% for image in images %}
                    <div class="post-container">
                        <div class="post-title">
                            <img src="../.{{ image.author.user_image_url }}" class="post-user-icon">
                            <a class="post-author-name" href="{{ url_for('user_view', username=image.author.username) }}">{{ image.author.username }}</a>
                        </div>
                        <div class="img-container">
                            <a href="{{ url_for('view_post', post_id=image.post_id) }}"><img src="{{ image.image_url }}"></a>
                        </div>
                        <div class="post-details">
                            <span style="display: flex; flex-direction:row; justify-content: space-between; align-items: center; margin-top:10px;">
                                <h2 class="post-caption">{{ image.caption }}</h2>
                                <div class="post-stats"  style="display: flex; flex-direction:row; justify-content: space-between; align-items: center;">
                                    <div class="stat-item">
                                        <i class="fa-solid fa-thumbs-up like-color"></i>
                                        <p class="like-color small-num">{{ image.likes }}</p>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fa-solid fa-heart favorite-color"></i>
                                        <p class="favorite-color small-num">{{ image.favorites }}</p>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fa-solid fa-star star-color"></i>
                                        <p class="star-color small-num">{{ image.stars }}</p>
                                    </div>
                                </div>
                            </span>
                            <!-- <div class="post-tags">
                                {% for tag in image.tags %}
                                    <p class="post-tag">#{{ tag['tag_name'] }}</p>
                                {% endfor %}
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>  
        </article>
        <aside class="right-nav hidden-sixteen">
            {% if username %}
            <div class="user-card">
                <img src="/static/images/user_icon.png">
                <div class="user-info">
                    <a href="/user/{{ username }}">{{ username }}</a>
                </div>
            </div>
            {% endif %}
        </aside> 
    </section>
    <footer>

    </footer>
    <script>
        profileButton = document.getElementById('profile-button');

        if (profileButton) {
            profileButton.addEventListener('click', e => {
                window.location.href = '/user/{{ username }}'
            })
        }
        
        settingsButton = document.getElementById('settings-button');  

        if (settingsButton) {
            settingsButton.addEventListener('click', e => {
                window.location.href = '/user/{{ username }}/edit_user/general'
            }) 
        }
    </script>
    <script src="/static/javascript/index.js"></script>
</main>
{% endblock %}