{% extends 'base.html' %}
{% block title %}Art-Station [INDEX]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block body %}
<main>
    <section class="main-section">
        <aside class="left-nav">
            <span class="search-span">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
            </span>
            <a href="/"><i class="fa-solid fa-house"></i>Home</a>
            <a href="/new_post"><i class="fa-solid fa-camera"></i>Post</a>
            <a href="/"><i class="fa-solid fa-message"></i>Messages</a>
            {% if username %}
            <a href="/user/{{ username }}"><i class="fa-solid fa-user"></i>Profile</a>
            <a href="/user/{{ username }}/edit_user/general"><i class="fa-solid fa-gear"></i>Settings</a>
            {% else %}
            <a href="/login"><i class="fa-solid fa-user"></i>Login</a>
            {% endif %}
        </aside>
        <article class="posts">
            <div class="image-board">
                <div class="image-column">
                    {% for image in images %}
                    <div class="post-container">
                        <div class="post-title">
                            <img src="/static/images/user_icon.png" class="post-user-icon">
                            <a class="post-author-name" href="{{ url_for('user_view', username=image.author.username) }}">{{ image.author.username }}</a>
                        </div>
                        <div class="img-container">
                            <a href="{{ url_for('view_post', post_id=image.id) }}"><img src="{{ image.url }}"></a>
                        </div>
                        <div class="post-details">
                            <h2 class="post-caption">{{ image.caption }}</h2>
                            <div class="post-tags">
                                {% for tag in image.tags %}
                                    <p class="post-tag">#{{ tag['tag_name'] }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>  
        </article>
        <aside class="right-nav">
            <div class="user-card">
                <img src="/static/images/user_icon.png">
                <div class="user-info">
                    <a href="/user/{{ username }}">{{ username }}</a>
                </div>
            </div>
        </aside> 
    </section>
    <footer>

    </footer>
    <script src="/static/javascript/index.js"></script>
</main>
{% endblock %}