{% extends 'base.html' %}
{% block title %}Art-Station [INDEX]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block body %}
<main>
    <section>
        <article class="posts">
            <div class="image-board">
                <div class="image-column">
                    {% for image in images %}
                    <div class="post-container">
                        <div class="post-title">
                            <a class="post-author-name" href="{{ url_for('user_view', username=image.author.username) }}">{{ image.author.username }}</a>
                        </div>
                        <div class="img-container">
                            <a href="{{ url_for('view_post', post_id=image.id) }}"><img src="{{ image.url }}"></a>   
                            <span>
                                <p> </p>
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>  
        </article>
    </section>
    <footer>

    </footer>
    <script src="/static/javascript/index.js"></script>
</main>
{% endblock %}