<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art-Station [LOGIN/NEW USER]</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <main>
        <form class="login-box" method="POST" action="{{ url_for('login') }}">
            {{ loginForm.csrf_token }}
            <h2>Login</h4>
            <div>
                {{ loginForm.username() }}
                {{ loginForm.password() }}
                <input type="submit" name="login" value="Login" class="submit-button">
            </div>
                {% for error in loginForm.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                
                {% for error in loginForm.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

           
        </form>

        <form class="new-user-box" method="POST" action="{{ url_for('login') }}">
            {{ newUserForm.csrf_token }}
            <h2>Create Account</h4>
            <div>
                {{ newUserForm.username() }}
                {{ newUserForm.email() }}
                {{ newUserForm.password() }}
                {{ newUserForm.confirm_password() }}
                <input type="submit" name="new-user" value="Create Account" class="submit-button">
            </div>
                {% for error in newUserForm.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                {% for error in newUserForm.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                {% for error in newUserForm.confirm_password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

           
        </form>
    </main>
</body>
</html>