

{% extends 'base.html' %}
{% block title %}Art-Station [POST - {{post.post_id}}]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/post.css">
    <style>
        @media (max-width: 1000px) {
            .post-section {
                flex-direction: column;
            }

            .post-details {
                width: 100%;
                padding: 0px;
            }

            .secondary-section {
                flex-direction: column;
            }

            .added-tag {
                font-size: 10px;
            }

            .bottom-container {
                display: flex;
                justify-content: flex-start;
            }

            .bottom-container button {
                width: 50px;
                height: 30px;
                margin: 10px;
            }

            .comment-container {
                padding: 0px;
            }

            .user-info {
                display: none;
            }

            #new-comment-input {
                font-size: 14px;
            }

            #new-comment-post-button {
                width: 80px;
                height: 30px;
                font-size: 14px;
            }
        }
    </style>
{% endblock %}

{% block body %}
<main>
    <section class="post-section">
        <article id="{{ post.post_id }}" class="main-post">
            <div class="post-container">
                <img class="post-image" src="../../{{ post.image_url }}">
            </div>
        </article>
        <aside class="post-details">
            <div class="top-container">
                {% if user %}
                    {% if post_author.username == user.username and post_settings %}
                        <h1>{{ post.caption }}<i id='post-settings' onclick="window.location.href='/post/{{ post.post_id }}/post_settings'" class="fa-solid fa-pen-to-square"></i></h1>
                    {% else %}
                        <h1>{{ post.caption }}<i id='report-post' class="fa-solid fa-flag"></i></h1>
                    {% endif %}
                {% endif %}
                <a href="/user/{{ post_author.username }}">{{ post_author.username }}</a>
                <hr>
                {% if endpoint == 'post_settings' %}
                    <input id="tag-search-input" type="text" placeholder="add tags">
                {% endif %}
                <div id="tag-list-box" class="tag-list-box">
                    {% for tag in post_tags %}
                        <p class="added-tag">{{ tag['tag_name'] }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="bottom-container">
                {% if userLikes %}
                <form id="post-buttons" class="post-buttons" action="{{ url_for('handle_buttons', post_id=post.post_id) }}" method="POST">
                    <button type="submit" class="like-button" name="like-button" value="like"><i class="fa-solid fa-thumbs-up"></i></button>
                    <button type="submit" class="favorite-button" name="favorite-button" value="favorite"><i class="fa-solid fa-heart"></i></button>
                    <button type="submit" class="star-button" name="star-button" value="star"><i class="fa-solid fa-star"></i></button>
                </form>
                {% elif endpoint == 'post_settings' %}
                    <button type="submit" class="delete-post-button" onclick="window.location.href='/post/{{ post.post_id }}/delete_post'">Delete Post</button>
                {% endif %}
            </div>
        </aside>
        {% if post_settings %}
        <span class="report-menu-screen hidden" id="report-menu-screen">
            <div class="report-menu">
                <h3 class="dialog-header">Report Post</h3>
                <form class="report-form">
                    {{ post_settings.csrf_token }}
    
                    {% for field in post_settings %}
                        {% if field.type != 'CSRFTokenField' %}
                        <span>
                            {{ field.label }} {{ field }}
                        </span>
                        {% endif %}
                    {% endfor %}

                    <textarea id="report-details" class="report-details" placeholder="report details"></textarea>

                    <div class="report-buttons">
                        <button id="confirm-report">Report</button>
                        <button id="report-menu-close">Close</button>
                    </div>
                </form>
                <footer class="dialog-footer"></footer>
            </div>
        </span>
        {% endif %}
    </section>
    {% if user and user.isModerator %}
        <section class="mod-tools-container">
            <span class="mod-tools-header" id="mod-tools-open">
                <p>admin tools</p>
            </span>
            <article id="mod-tools" class="mod-tools hidden">
                <div class="reports">
                    <table>
                        <thead>
                            <th>Report ID</th>
                            <th>Hateful</th>
                            <th>Spam</th>
                            <th>Violent</th>
                            <th>Explicit</th>
                            <th>Other</th>
                            <th>Report Note</th>
                            <th>Report Date</th>
                        </thead>
                        <tbody>
                            {% if post_reports != None %}
                                {% for report in post_reports %}
                                <tr>
                                    <td style="text-align:right;">{{ report.report_id }}</td>
                                    <td style="text-align:center;">{% if report.is_hateful %}✓{% endif %}</td>
                                    <td style="text-align:center;">{% if report.is_spam %}✓{% endif %}</td>
                                    <td style="text-align:center;">{% if report.is_violent %}✓{% endif %}</td>
                                    <td style="text-align:center;">{% if report.is_explicit %}✓{% endif %}</td>
                                    <td style="text-align:center;">{% if report.is_other_report %}✓{% endif %}</td>
                                    <td style="text-align:right;">{{ report.original_report_note }}</td>
                                    <td style="text-align:center;">{{ report.created_at.strftime('%m/%d/%Y') }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="options-container">
                    <div class="options">
                    </div>
                </div>
            </article>
        </section>
    {% endif %}
    <section class="secondary-section">
        {% if post_comments != None %}
        <div class="comment-container">
            <div class="new-comment-container">

                {% if username %}

                <div class="user-info">
                    <img src="../../static/images/user_icon.png">
                    <p>{{ username }}</p>
                </div>
                <form class="new-comment-box" method="POST" action="{{ url_for('view_post', post_id=post.post_id) }}">
                    {{ commentForm.comment(id="new-comment-input", rows="2", cols="20", wrap="hard") }}
                    {{ commentForm.submit(id="new-comment-post-button", type="submit") }}
                    {{ commentForm.csrf_token }}
                </form>

                {% else %}

                <div id="no-user-box">
                    <a href="/login" id="no-user">Log in</a><p> to leave a comment</p>
                </div>

                {% endif %}
            </div>
            <hr>
            <div class="post-comments-container">

                {% for comment in post_comments %}
                <div class="comment-template">
                    <div class="user-info">
                        <img src="../../static/images/user_icon.png">
                        <p>{{ comment.username }}</p>
                    </div>
                    <div class="comment-area">
                        <p class="comment-text" readonly>{{ comment.comment_text }}</p>
                        <div class="comment-buttons"></div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        {% endif %}
        <div class="related-posts">

        </div>
    </section>
</main>
{% if userLikes %}
    <script>
        var userLikes = {{ userLikes|tojson }}
        
        const likeButton = document.querySelector('.like-button');
        const favoriteButton = document.querySelector('.favorite-button');
        const starButton = document.querySelector('.star-button');

        if (userLikes[0]) {
            likeButton.classList.remove('like-button');
            likeButton.classList.add('like-button-pressed');
        }
        
        if (userLikes[1]) {
            favoriteButton.classList.remove('favorite-button');
            favoriteButton.classList.add('favorite-button-pressed');
        }
        
        if (userLikes[2]) {
            starButton.classList.remove('star-button');
            starButton.classList.add('star-button-pressed');
        }
    </script>
{% endif %}
<script src="/static/javascript/post.js">
</script>
{% endblock %}

