

{% extends 'base.html' %}
{% block title %}Art-Station [POST - {{post.post_id}}]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/post.css">
{% endblock %}

{% block body %}
<main>
    <section class="post-section">
        <article class="main-post">
            <div class="post-container">
                <img class="post-image" src="../../{{ post.image_url }}">
            </div>
        </article>
        <aside class="post-details">
            <div class="top-container">
                <h1>{{ post.caption }}</h1>
                <h3>{{ post_author.username }}</h3>
                <hr>
                <div id="tag-list-box" class="tag-list-box">
                    {% for tag in post_tags %}
                        <p class="added-tag">{{ tag['tag_name'] }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="bottom-container">
                <form class="post-buttons">
                    <button type="submit" class="like-button fa fa-thumbs-up" aria-label="Thumbs Up"></button>
                    <button type="submit" class="favorite-button fa fa-heart" aria-label="Favorite"></button>
                    <button type="submit" class="star-button fa fa-star" aria-label="Star"></button>
                </form>
            </div>
        </aside>
        <hr style="position: absolute; align-self: flex-end; width: 1555px; height: 2px; margin: -15px;">
    </section>
    <section class="secondary-section">
        <div class="comment-container">
            <div class="new-comment-container">
                <div class="user-info">
                    <img src="../../static/images/user_icon.png">
                    <p>{{ username }}</p>
                </div>
                <form class="new-comment-box" method="POST" action="{{ url_for('view_post', post_id=post.post_id) }}">
                    {{ commentForm.comment(id="new-comment-input") }}
                    {{ commentForm.submit(id="new-comment-post-button", type="submit") }}
                    {{ commentForm.csrf_token }}
                </form>
            </div>
            <hr style="margin-right: 50px;">
            <div class="post-comments-container">

                {% for comment in post_comments %}
                <div class="comment-template">
                    <div class="user-info">
                        <img src="../../static/images/user_icon.png">
                        <p>{{ username }}</p>
                    </div>
                    <div class="comment-area">
                        <textarea class="comment-text" readonly>{{ comment.comment_text }}</textarea>
                        <div class="comment-buttons"></div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <div class="related-posts">

        </div>
    </section>
</main>
<script src="/static/javascript/post.js"></script>
{% endblock %}

