

{% extends 'base.html' %}
{% block title %}Art-Station [POST - {{post.post_id}}]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/post.css">
{% endblock %}

{% block body %}
<main>
    <section class="post-section">
        <article class="main-post">
            <div class="post-container">
                <img class="post-image" src="../../{{ post.image_url }}">
            </div>
        </article>
        <aside class="post-details">
            <div class="top-container">
                {% if post_author.username == user.username %}
                    <h1>{{ post.caption }}<i id='post-settings' onclick="window.location.href='/post/{{ post.post_id }}/post_settings'" class="fa-solid fa-pen-to-square"></i></h1>
                {% else %}
                    <h1>{{ post.caption }}<i id='report-post' class="fa-solid fa-flag"></i></h1>
                {% endif %}
                <a href="/user/{{ post_author.username }}">{{ post_author.username }}</a>
                <hr>
                <div id="tag-list-box" class="tag-list-box">
                    {% for tag in post_tags %}
                        <p class="added-tag">{{ tag['tag_name'] }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="bottom-container">
                <form id="post-buttons" class="post-buttons" action="{{ url_for('handle_buttons', post_id=post.post_id) }}" method="POST">
                    <button type="submit" class="like-button" name="like-button" value="like"><i class="fa-solid fa-thumbs-up"></i></button>
                    <button type="submit" class="favorite-button" name="favorite-button" value="favorite"><i class="fa-solid fa-heart"></i></button>
                    <button type="submit" class="star-button" name="star-button" value="star"><i class="fa-solid fa-star"></i></button>
                </form>
            </div>
        </aside>
        <span class="report-menu-screen hidden" id="report-menu-screen">
            <div class="report-menu">
                <h3 class="dialog-header">Report Post</h3>
                <form class="report-form">
                    {{ post_settings.csrf_token }}
    
                    {% for field in post_settings %}
                        {% if field.type != 'CSRFTokenField' %}
                        <span>
                            {{ field.label }} {{ field }}
                        </span>
                        {% endif %}
                    {% endfor %}

                    <textarea class="report-details" placeholder="report details"></textarea>

                    <div class="report-buttons">
                        <button type="submit" id="confirm-report">Report</button>
                        <button type="submit" id="report-menu-close">Close</button>
                    </div>
                </form>
                <footer class="dialog-footer"></footer>
            </div>
        </span>
        <hr style="position: absolute; align-self: flex-end; width: 1555px; height: 2px; margin: -15px;">
    </section>
    <section class="secondary-section">
        <div class="comment-container">
            <div class="new-comment-container">

                {% if username %}

                <div class="user-info">
                    <img src="../../static/images/user_icon.png">
                    <p>{{ username }}</p>
                </div>
                <form class="new-comment-box" method="POST" action="{{ url_for('view_post', post_id=post.post_id) }}">
                    {{ commentForm.comment(id="new-comment-input") }}
                    {{ commentForm.submit(id="new-comment-post-button", type="submit") }}
                    {{ commentForm.csrf_token }}
                </form>

                {% else %}

                <div id="no-user-box">
                    <a href="/login" id="no-user">Log in</a><p> to leave a comment</p>
                </div>

                {% endif %}
            </div>
            <hr>
            <div class="post-comments-container">

                {% for comment in post_comments %}
                <div class="comment-template">
                    <div class="user-info">
                        <img src="../../static/images/user_icon.png">
                        <p>{{ comment.username }}</p>
                    </div>
                    <div class="comment-area">
                        <textarea class="comment-text" readonly>{{ comment.comment_text }}</textarea>
                        <div class="comment-buttons"></div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <div class="related-posts">

        </div>
    </section>
</main>
<script>
    var userLikes = {{ userLikes|tojson }}
</script>
<script src="/static/javascript/post.js"></script>
{% endblock %}

