{% extends 'base.html' %}
{% block title %}Art-Station [USER - {{ session.get('username') }}]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/user_view.css">
{% endblock %}

{% block body %}
<main>
  <section class="user-info-head">
    <h1> head </h1>

  </section>
  <section class="main-section">
    <nav id="user-nav" class="user-nav">
      <p>Showcase</p>
      <p>Gallary</p>
      <p>Commission</p>
    </nav>
    <div id="showcase" class="image-board hidden">
      {% for image in images %}
      <div class="image-container">
          <a href="/post/{{ image.id }}"><img class="image-board-img" src="../{{ image.url }}" width="400"></a>
          <span class="post-info"></span>
      </div>
      {% endfor %}
    </div>
    <div id="gallary" class="hidden">
      <h1> gallary test</h1>
    </div>
    <div id="commission" class="hidden">
      <h1> commission test</h1>
    </div>
  </section>
  <aside>
    <h1> aside </h1>
  </aside>
</main>
<script src="/static/javascript/user_view.js"></script>
{% endblock %}

