{% extends 'base.html' %}
{% block title %}Art-Station [USER - {{ session.get('username') }}]{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/user_view.css">
{% endblock %}

{% block body %}
<main>
  <section class="user-info-head">
    <article class="user-info-container">
      <div class="user-image-container">
        <img class="user-image" src="/static/images/user_icon.png">
      </div>
      <div class="user-info">
        <h4>{{ view_user.username }}</h4>
        <p>some more information</p>
      </div>
    </article>
    <aside class="user-options-container">
      {% if view_user.username == username %} 
      <button id="edit-profile-button" onclick="window.location.href='/user/{{ username }}/edit_user/info'">Edit Profile</button>
      {% else %}
      <div class="user-buttons">
        <button><i class="fa-solid fa-ellipsis"></i></button>
        <button><i class="fa-solid fa-message"></i></button>
        <button>Follow</button>
      </div>
      {% endif %}
    </aside>
  </section>
  <section class="main-section">
    <nav id="user-nav" class="user-nav">
      <p id="showcaseNav">Showcase</p>
      <p id="gallaryNav">Gallary</p>
      <p id="commissionNav">Commission</p>
    </nav>
    <article id="showcase" class="hidden">
      <h1> showcase test</h1>
    </article>
    <article id="gallary" class="image-board hidden">
      {% for image in images %}
      <article class="image-container">
          <a href="/post/{{ image.id }}"><img class="image-board-img" src="../{{ image.url }}" width="400"></a>
          <span class="post-info"></span>
      </article>
      {% endfor %}
    </article>
    <article id="commission" class="hidden">
      <h1> commission test</h1>
    </article>
  </section>
  <aside class="right-panel">
    <h1> aside </h1>
  </aside>
</main>
<script src="/static/javascript/user_view.js"></script>
{% endblock %}

